.DS_Store
.RData
.Rproj.user
.Rhistory
SRO_DDM_Analyses.Rproj
all_ddm_sample_size_estimates.csv
output/workspaces/*
code/batch_files/.out
code/batch_files/.err
output/batch_output
*.out
*.err
output/figures/high_res/*
