.emphasized {
  color: red;
}

.reveal section p {
  color: blue;
}

.customslide .reveal .state-background {
  background: black;
} 

.customslide .reveal h1,
.customslide .reveal h2,
.customslide .reveal p {
  color: white;
}